@import '../../index.scss';

.services {
   padding: 80px;
    background-color: #c11325;

    .content{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    -webkit-display: flex;

    @include tab{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .text{


        .services-btn{
            

            @include Mobile{
font-size: 15px;
            }

            @include Mobile-M{
                font-size: 12px;

            }
        }
        h2{
            font-size: 32px;
            color: #ffffff;
            font-weight: 500;
            padding: 0 0 30px;

            @include tab{
                font-size: 28px;
            }

            @include Mobile{
                font-size: 26px;
            }
            @include Mobile-M{
                font-size: 22px;
            }
        }

        p{
            font-size: 16px;
            line-height: 22px;
            color: #ffffff;
            margin: 0 0 15px;
            padding: 0 0 10px;
            font-family: $oswald;

            @include tab{
                font-size: 18px;
            }

            @include Mobile{
                font-size: 14px;
            }

            @include Mobile-M{
                font-size: 10px;
            }

            @include Mobile-375{
                font-size: 8px;
                line-height: 20px;
            }

            @include Mobile-325{
                font-size: 7px;
                line-height:18px;
            }

        }
    }

    .box{
        flex: 0 0 50%;
        max-width: 50%;
       

        @include tab{
            max-width: 70%;
        }
        @include Mobile-M{
            max-width: 100%;
        }
    }

    }

}