@import '../../index.scss';

.about{
    padding: 80px 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

   

//     .content{
      
// display: flex;        
// flex-wrap: wrap;



//     }


}