@import '../../index.scss';


.contact{
    padding: 80px;
    background-color: #222222;


    .container{
        display: flex;

        @include tab{
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }


        .box{
            flex:  0 0 50%;
            max-width: 50%;

            @include tab{
                max-width: 80%;
            }

            @include Mobile{
                max-width: 100%;
            }
        }


        .left{
            textarea,input{
                height: 45px;
                width: 95%;
                padding: 6px 12px;
                background-color: transparent;
                margin-bottom: 25px;
                border: 1px solid #ffffff;
                letter-spacing: 1px;
                color: #ffffff;
                font-family: 'Open-sans', sans-serif;

                
                &:focus{

                 outline: none;
                }

                &::placeholder{
                    color: #ffffff;

                }


            }

            textarea{
                height: 100px;
            }

            button{
                background-color: #c11325;
                color: #ffffff;
                border: none;
                outline: none;
                box-shadow: none;
                height: 45px;
                padding: 0px 45px;
                font-size: 15px;
                transition: all .5s ease;
                border: 1px solid transparent;


                &:hover{
                    background: transparent;
                    color: #ffffffff;
                    border-color: #ffffff;
                    transition: all .5s ease;
                    cursor: pointer;

                }
            }
        }

        .right{

           
            h2{
                font-size: 30px;
                font-weight: 500;
                color: #c11325;
                padding: 0px 0px 30px;

            }

            p{
                font-size: 15px;
                line-height: 20px;
                color: #ffffff;
                margin: 0;
                padding: 0 0 20px;
                font-family: 'Open-sans', sans-serif;
            }

            .info{
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li{
                        display: block;
                        color: #ffffff;
                        font-size: 15px;
                        letter-spacing: 1px;
                        position: relative;
                        padding-left:40px;
                        font-family: 'Open-sans', sans-serif;


                        span{
                            display: inline-block;
                            position: absolute;
                            top: 0px;
                            left: 0;
                            font-size: 20px;
                            color: #c11325;
                        
                        }
                    }
                }
            }

            .social{
                padding-top: 30px;

                a{
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background-color: #c11325;
                    text-decoration: none;
                    display: inline-block;
                    margin-right: 10px;
                    transition: all .6s ease;
                    border: 1px solid transparent;
                    // margin: 13px 2px;


                    &:hover{
                    transition: all .6s ease;
                    background-color: transparent;
                    border-color: #ffffff;


                    }

                    span{
                        color: #ffffff;
                        font-size: 20px;
                    }
                }
            }

            .copy{
                color: #c5c5c5;
                border-top: 1px solid #333333;
                margin-top: 30px;
                padding-top: 20px;
                font-size: 15px;
            }

        }
    }
}