@import '../../index.scss';


.contact{
    padding: 80px;
    background-color: #222222;


    .container{
        display: flex;

        @include tab{
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }


        .box{
            flex:  0 0 50%;
            max-width: 50%;

            @include tab{
                max-width: 80%;
            }

            @include Mobile{
                max-width: 100%;
            }
        }


        .left{
            textarea,input{
                height: 45px;
                width: 95%;
                padding: 6px 12px;
                background-color: transparent;
                margin-bottom: 25px;
                border: 1px solid #ffffff;
                letter-spacing: 1px;
                color: #ffffff;
                font-family: 'Open-sans', sans-serif;



                @include Mobile-375{
                    width: 100%;
                    padding: 3px 6px;
                }

                @include Mobile-325{
                    width: 130%;
                    padding: 3px 3px;
                    margin-left: -20%;
                }

                
                &:focus{

                 outline: none;
                }

                &::placeholder{
                    color: #ffffff;

                }


            }

            textarea{
                height: 100px;

                @include Mobile-375{
                    height: 80px;
                }
            }

            button{
                background-color: #c11325;
                color: #ffffff;
                border: none;
                outline: none;
                box-shadow: none;
                height: 45px;
                padding: 0px 45px;
                font-size: 15px;
                transition: all .5s ease;
                border: 1px solid transparent;

                @include tab{
                    height: 42px;
                }

                @include Mobile-375{
                    font-size: 12px;
                    padding: 0 20px;
                    height: 40px;
                }


                &:hover{
                    background: transparent;
                    color: #ffffffff;
                    border-color: #ffffff;
                    transition: all .5s ease;
                    cursor: pointer;

                }
            }
        }

        .right{

           
            h2{
                font-size: 30px;
                font-weight: 500;
                color: #c11325;
                padding: 0px 0px 30px;

                @include tab{
                    font-size: 25px;
                    margin-top: 10px;

                }

                @include Mobile-M{
                    font-size: 20px;
                }

                @include Mobile-375{
                    font-size: 18px;
                }

                @include Mobile-325{
                    font-size: 15px;
                }

            }

            p{
                font-size: 15px;
                line-height: 20px;
                color: #ffffff;
                margin: 0;
                padding: 0 0 20px;
                font-family: 'Open-sans', sans-serif;

                

                @include Mobile{
                    font-size: 12px;
                }

                @include Mobile-M{
                    font-size: 10px;
                    line-height: 18px;
                }

                @include Mobile-375{
                    font-size: 8px;
                    line-height: 16px;
                }

                @include Mobile-325{
                    font-size: 7px;
                }
            }

            .info{
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li{
                        display: block;
                        color: #ffffff;
                        font-size: 15px;
                        letter-spacing: 1px;
                        position: relative;
                        padding-left:40px;
                        font-family: 'Open-sans', sans-serif;

                        @include Mobile{
                            font-size: 13px;
                        }

                         @include Mobile-M{
                            font-size: 11px;
                         }

                         @include Mobile-375{
                            font-size: 8px;
                         }


                        span{
                            display: inline-block;
                            position: absolute;
                            top: 0px;
                            left: 0;
                            font-size: 20px;
                            color: #c11325;
                        
                            

                            @include Mobile{
                                font-size: 15px;
                            }

                            @include Mobile-M{
                                font-size: 11px;
                            }
                            @include Mobile-375{
                                font-size: 9px;
                            }
                        
                        }
                    }
                }
            }

            .social{
                padding-top: 30px;

                a{
                    width: 30px;
                    height: 30px;
                    line-height: 40px;
                    text-align: center;
                    background-color: #c11325;
                    text-decoration: none;
                   display: inline-block;
                    margin-right: 10px;
                    transition: all .6s ease;
                    border: 1px solid transparent;
                    margin: 13px 2px;

                    @include Mobile-M{
                        width: 25px;
                        height: 25px;
                    }
                


                    &:hover{
                    transition: all .6s ease;
                    background-color: transparent;
                    border-color: #ffffff;
                   }

                    span{
                       
                        color: #ffffff;
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-top: 5px;

                        @include Mobile-M{
                            font-size: 15px;
                        }
                    }
                }
            }

            .copy{
                color: #c5c5c5;
                border-top: 1px solid #333333;
                margin-top: 30px;
                padding-top: 20px;
                font-size: 15px;

                @include Mobile-M{
                    font-size: 12px;
                }
                
            }

        }
    }
}